<h1 class="text-center">About This Site</h1>

<br>

<p class="lead text-center">This mock Library application was created by <a href="https://www.linkedin.com/in/garettarrowood" target="_blank">Garett Arrowood</a> following <a href="http://zoltan.nz/" target="_blank">Zoltan Debre's</a> tutorial at <a href="http://yoember.com/" target="_blank">yoember.com</a> using Ember.js and Ember-cli (as it stood on June 24th, 2016). This page outlines the tutorial's features as well as Garett's additions.</p>

<section class="jumbotron">
  <ul class="feature-description">
    <h3 class="section-title">Tutorial Features</h3>
    <li>Full Ember route-model-controller-template app structure</li>
    <li>Computed properties and observers that engineer data</li>
    <li>Form validations</li>
    <li>Handlebar helpers to manipulate data representation</li>
    <li>CRUD actions on libraries, authors and books</li>
    <li>Use of Ember-Data to establish model associations</li>
    <li>Database, server and app deployment with Firebase</li>
    <li>Controller logic refactored into routes/components for future Ember release</li>
    <li>Custom components that compartmentalize UI elements, including nav bars, line items and labels</li>
    <li>Bootstrap and Sass integrations</li>
    <li>Faker integration to generate dummy data</li>
  </ul>
</section>

<section class="jumbotron">
  <ul class="feature-description">
    <h3 class="section-title">Garett's Modifcations</h3>
    <li>This page :)</li>
    <li>Book index page with updatable titles</li>
    <li>Moment.js integration for better date representation</li>
    <li>Fix async issue with author/book delete button</li>
    <li>Customized CSS</li>
  </ul>
</section>