<h1 class="text-center">About This Site</h1>

<p class="lead text-center">This mock Library web application was created by <a href="https://www.linkedin.com/in/garettarrowood">Garett Arrowood</a> following <a href="http://zoltan.nz/">Zoltan Debre's</a> excellent tutorial at <a href="http://yoember.com/">yoember.com</a> using Ember.js and Ember-cli. This particular view outlines:</p>

<p>1. The features constructed following Zoltan's curriculum<br>2. Added features on top of lesson's application</p>
